<div>
  <h2> <%= @gym.name %> </h2>
  <% @fighters.each do |fighter| %>
    <div id="fighter-<%=fighter.id%>">
      <h3> <%= fighter.name %> </h3>
      <p> Fighter Age: <%= fighter.age %> </p>
      <p> Fighting Style: <%= fighter.style %> </p>
      <p> Currently Active: <%= fighter.active %> </p>
      <br>
    </div>
  <% end %>
</div>

<%= link_to "Create Fighter", "/gyms/#{@gym.id}/fighters/new" %>
<br>
<%= link_to "Order Fighter By Name", "/gyms/#{@gym.id}/fighters?order=name" %>
<br>
<%= link_to "Order Fighter By Create At", "/gyms/#{@gym.id}/fighters" %>